:root {
  --themeColor1: #101010;
  --themeColor2: #f8f8f8;
  --themeColor3: #bcbcbc;
  --accentColor1: #00eeff;
  --accentColor2: #00828b;

  font-size: 2vw;

  --navCorrection: 65px;
}
@media (max-width: 768px) {
  :root {
    --navCorrection: 0px;

    font-size: 4vw;
  }
}
@media screen and (max-width: 480px) {
  .hideWhileMobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hideWhileTablet {
    display: none;
  }
}

@font-face {
  font-family: Antro Vectra;
  src: url(../assets/fonts/antro-vectra.bolder.otf);
}
@font-face {
  font-family: Lemon Milk Regular;
  src: url(../assets/fonts/LemonMilk-Regular.otf);
}
@font-face {
  font-family: Lemon Milk Pro Light;
  src: url(../assets/fonts/LemonMilkPro-Light.otf);
}

body {
  margin: 0;
  background-color: var(--themeColor1);
}

header {
  display: none;
}

footer {
  height: auto;
  width: 100vw;
}
footer > div {
  margin-left: var(--navCorrection);
}
#footerDivider {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: 80vw;
  border-top: 0.1rem solid #f8f8f8;
}
#footerContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 3rem;
  padding-bottom: 3em;
}
#footerContainer_title {
  flex: 2;
  margin-right: 1em;
  color: var(--themeColor2);
  font-family: Lemon Milk Regular;
  font-size: 1;
}
#footerContainer_title > h1 {
  margin-top: 0;
}
#footerContainer_title > p {
  font-size: 1rem;
  color: var(--themeColor3);
}
#footerContainer_pages {
  flex: 1;
  margin-right: 1em;
}
#footerContainer_pages > h2 {
  color: var(--themeColor2);
  font-family: Lemon Milk Regular;
  font-size: 1em;
  margin-top: 0;
}
#footerContainer_pages > ul {
  padding-left: 0;
  list-style: none;
}
#footerContainer_pages > ul > li > a {
  text-decoration: none;
  color: var(--themeColor3);
  font-family: Lemon Milk Regular;
  font-size: 1rem;
}
#footerContainer_contact {
  flex: 1;
  margin-right: 1rem;
}
#footerContainer_contact > h2 {
  color: var(--themeColor2);
  font-family: Lemon Milk Regular;
  font-size: 1rem;
  margin-top: 0;
}
#footerContainer_contact > ul {
  padding-left: 0;
  list-style: none;
}
#footerContainer_contact > ul > li > a:not(#footerContainer_emailLink) {
  display: inline-block;
  text-decoration: none;
  color: var(--themeColor3);
  font-family: Lemon Milk Regular;
  font-size: 1rem;
  margin-top: 0.5rem;
  height: 30px;
  width: 30px;
}
#footerContainer_contact > ul > li > a > img {
  height: 30px;
  width: 30px;
  /* vertical-align: middle; */
}
#footerContainer_contact > ul > li > span {
  text-decoration: none;
  color: var(--themeColor3);
  font-family: Lemon Milk Regular;
  font-size: 1rem;
}
#footerContainer_emailLink {
  text-decoration: none;
  color: var(--themeColor3);
  font-family: Lemon Milk Regular;
  font-size: 0.5rem;
}
@media screen and (max-width: 480px) {
  #footerContainer {
    flex-direction: column;
  }
  #footerContainer_title {
    text-align: center;
    margin-right: 0;
  }
  #footerContainer_pages {
    text-align: center;
    margin-right: 0;
  }
  #footerContainer_contact {
    text-align: center;
    margin-right: 0;
  }
}

/* NavBar */
nav {
  justify-content: center;
  position: fixed;
  width: 65px;
  top: 0;
  height: 100vh;
  z-index: 100;
  background-color: #101010;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
nav:hover {
  width: 200px;
}
nav > ul {
  list-style-type: none;
  color: var(--themeColor2);
  margin-left: -40px;
  margin-top: 50px;
}
nav > ul > li {
  padding-bottom: 0.5rem;
}
nav > ul > li > a {
  position: relative;
  display: block;
  /* top: 15px; */
  padding: 10px 0 10px 20px;
  text-decoration: none;
  color: var(--themeColor2);
  font-family: Lemon Milk Pro Light;
  font-weight: 100;
  /* font-size: 1.27em; */
  font-size: 16px;
  text-transform: uppercase;
}
nav > a {
  position: relative;
  display: block;
  /* top: 15px; */
  padding: 10px 0 10px 20px;
  /* transition: all .3s ease; */
  text-decoration: none;
  color: var(--themeColor2);
  font-family: "roboto";
  font-weight: 100;
  font-size: 1rem;
  align-items: center;
}
a:hover:not(#logoLink, #seniorSectionContactButton, .button_contact) {
  background-color: #00828b;
}
#nav_socials {
  height: 100%;
}
#nav_socials > li > a {
  width: 30px;
  padding: 0;
  margin-left: 20px;
  transition: transform 0.15s ease-in-out;
  position: absolute;
  bottom: 1rem;
}
#nav_socials > li > a:hover {
  background-color: transparent;
  transform: scale(1.15);
}
@media screen and (max-width: 768px) {
}
/* nav > div{
  display: flex;
  position: absolute;
  margin-top: auto;
  bottom: 1rem;
}
nav > div > a{
  position: relative;
  display: block;
  margin-left: 20px;
  width: 30px;
} */

/* Hamburger menu */
.menu-icon {
  z-index: 101;
  cursor: pointer;
  display: inline-block;
  padding: 32.5px 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-icon .navicon {
  background: var(--themeColor2);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: var(--themeColor2);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
}
.navicon:after ~ nav {
  height: 500px;
}
.menu-icon .navicon:before {
  top: 5px;
}
.menu-icon .navicon:after {
  top: -5px;
}
.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.menu-btn:checked ~ nav {
  height: 100vh;
}
.menu-btn:checked ~ nav > a > .hide {
  max-width: 200px;
  opacity: 1;
  letter-spacing: 0px;
  margin-left: 0px;
}
.menu-btn:checked ~ nav > #nav_socials {
  transition-delay: 0.15s;
}
@media screen and (max-width: 768px) {
  .menu-btn:not(:checked) ~ nav > #nav_socials {
    transition-delay: 0s;
    opacity: 0;
  }
}
@media screen and (min-width: 769px) {
  .menu-btn,
  .menu-icon {
    display: none;
  }
}

/*Nav Title text change on hover*/
#logoLink {
  transition: 0.3s ease;
  transition-property: max-width, opacity, letter-spacing, margin-left;
  font-family: Antro Vectra;
  font-size: 16px;
  text-align: center;
  top: 20px;
  letter-spacing: -2px;
  margin-left: -10px;
}
.hide {
  display: inline-block;
  max-width: 0;
  opacity: 0;
  transition: 0.3s ease;
  transition-property: max-width, opacity, letter-spacing, margin-left;
  transition-delay: 0.2s;
}
nav:hover > a > .hide {
  max-width: 200px;
  opacity: 1;
  letter-spacing: 0px;
  margin-left: 0px;
}

/*Navbar Drop-Down menu*/
.hideDropDown {
  max-height: 0;
  margin: 0;
  padding: 0 0 0 20px;
  opacity: 0;
  transition: 0.3s ease;
  transition-property: display, max-height, opacity, letter-spacing, margin-left,
    padding;
}
.dropDown:hover > .hideDropDown {
  display: block;
  max-height: 44.5px;
  opacity: 1;
  letter-spacing: 0px;
  margin-left: 0px;
  padding: 10px 0 10px 20px;
}

/*Icons and other unique Navbar items*/
.icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  vertical-align: middle;
}

.currentpage {
  border-left: 5px solid #00eeff;
}
#logoLink {
  padding-left: 10px;
}
@media screen and (max-width: 768px) {
  nav {
    height: 65px;
    width: 100vw;
    transition: height 0.3s ease;
  }
  nav:hover {
    width: 100vw;
    height: 65px;
  }
  nav > a {
    height: 65px;
    padding: 0;
    /* padding-left: 20px; */
    /* pointer-events: none; */
  }
  nav > ul {
    margin-top: 0;
  }
  #logoLink {
    top: 0;
    line-height: 65px;
    text-align: center;
    /* padding-top: 20px; */
  }
  .hide {
    transition-delay: 0s;
  }
}

/* Title Section of index.html */
#titleSection {
  background-image: url(../assets/images/TitleSectionBackground.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}
#titleSection > div {
  /* text-align: center; */
  margin-left: var(--navCorrection);
}
#titleSection > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#titleSection > div > div > img {
  max-height: 30rem;
}
#titleSection > div > h1 {
  font-size: 3em;
  font-family: Antro Vectra;
  color: var(--themeColor2);
  margin-top: 0;
  padding-top: 35vh;
}
#titleSection > div > p {
  font-family: Lemon Milk Pro Light;
  color: var(--themeColor2);
}
#titleSection > div > p > span {
  text-transform: uppercase;
  -webkit-text-decoration: underline #00eeff;
  text-decoration: underline #00eeff;
}

/* Section Preset Item Table */
.sectionPreset_itemTable {
  width: 100%;
}
.sectionPreset_itemTable > div {
  margin-left: var(--navCorrection);
  padding-bottom: 3rem;
}
.sectionPreset_itemTable > div > h1 {
  text-align: center;
  color: var(--themeColor2);
  font-family: Lemon Milk Regular;
  font-size: 2rem;
}
.sectionPreset_itemTable_flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.sectionPreset_itemTable_flexContainer > a {
  flex: 1;
  max-height: 18rem;
  max-width: 18rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}
.sectionPreset_itemTable_flexContainer > a:hover {
  cursor: pointer;
  background-color: var(--themeColor1);
}
.sectionPreset_itemTable_flexContainer > a:hover > img {
  transform: scale(1.15);
}
.sectionPreset_itemTable_flexContainer > a > span {
  color: var(--themeColor2);
  font-family: Lemon Milk Regular;
  position: absolute;
  width: 7rem;
  bottom: 0;
  padding: 0.5rem;
  background-color: var(--themeColor1);
  text-align: center;
  z-index: 2;
}
.sectionPreset_itemTable_flexContainer > a > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .sectionPreset_itemTable_flexContainer {
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
  }
}

/* Section Preset 3 */
.sectionPreset3 {
  height: auto;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #00828b;
  color: var(--themeColor2);
}
.sectionPreset3 > div {
  margin-left: var(--navCorrection);
  padding-left: 5em;
  padding-right: 5em;
}
.sectionPreset3 > div > h1 {
  font-size: 2rem;
  font-family: Lemon Milk Regular;
}
.sectionPreset3 > div > p {
  color: var(--themeColor3);
  font-family: Lemon Milk Pro Light;
}
.sectionPreset3 > div > p > span {
  padding-right: 0.25em;
  -webkit-text-decoration: underline #00eeff;
  text-decoration: underline #00eeff;
  font-family: Lemon Milk Regular;
  font-size: 1.75em;
  color: var(--themeColor2);
}
@media screen and (max-width: 768px) {
  .sectionPreset3 > div {
    padding-left: 0;
    padding-right: 0;
  }
  .sectionPreset3 > div > h1 {
    margin-left: 2rem;
  }
  .sectionPreset3 > div > p {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Services Section of index.html */
#titleSection_Services {
  height: 80vh;
  padding: 10vh 0 10vh 65px;
  background-color: var(--themeColor2);
}
#titleSection_Services_Senior {
  display: block;
  height: 80vh;
  width: 33vw;
  background-image: url(../assets/images/DSC04692.jpg);
  background-size: cover;
  background-position: center top;
  margin: 0;
}
#titleSection_Services_Senior > h2 {
  margin: 0;
}

/* Senior Section 1 of seniorservice.html */
.sectionPreset1 {
  display: block;
  height: auto;
  width: 100vw;
  overflow: hidden;
  background-color: var(--themeColor2);
}
.sectionPreset1_TitleLeft {
  width: 50%;
  float: left;
}
.sectionPreset1_TitleLeft > h1 {
  margin-left: calc(var(--navCorrection) + 35px);
  margin-right: 1.5em;
  font-size: 2rem;
  font-family: Lemon Milk Regular;
}
.sectionPreset1_TitleLeft > p {
  font-family: Lemon Milk Pro Light;
  font-size: 1rem;
  padding-top: 0;
  margin-right: 1.5rem;
  margin-left: calc(var(--navCorrection) + 35px);
}
.sectionPreset1_TitleRight {
  height: 100%;
  width: 50vw;
  float: right;
  overflow: hidden;
}
.sectionPreset1_TitleRight > img {
  display: block;
  float: right;
  max-height: 100%;
  max-width: 100%;
  text-align: center;
}
#seniorSectionContactButton {
  text-align: center;
  width: 7rem;
  top: 15px;
  color: var(--themeColor2);
  background-color: var(--themeColor1);
  margin-left: 100px;
  margin-bottom: 3em;
  padding: 0.75rem;
  outline: 2px solid var(--themeColor1);
  position: relative;
  display: block;
  text-decoration: none;
  font-family: Lemon Milk Regular;
  /* font-weight: 100; */
  font-size: 1rem;
}
#seniorSectionContactButton:hover {
  color: var(--themeColor1);
  background-color: var(--themeColor2);
  outline: 2px solid var(--themeColor1);
}
@media screen and (max-width: 768px) {
  .sectionPreset1_TitleLeft {
    /* height: 40vh; */
    margin-top: 65px;
    width: 100vw;
    float: none;
    text-align: center;
  }
  .sectionPreset1_TitleLeft > h1 {
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionPreset1_TitleLeft > p {
    margin-left: calc(var(--navCorrection) + 1.5rem);
  }
  #seniorSectionContactButton {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionPreset1_TitleRight {
    /* margin-left: 2em;
    margin-right: 2em; */
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

/* Senior Section Gallery */
#seniorSection_gallery {
  width: 100vw;
  height: auto;
  background-color: #00828b;
}
#seniorSection_gallery > div {
  margin-left: var(--navCorrection);
}
#seniorSection_gallery > div > div {
  margin-left: auto;
  margin-right: auto;
}
#seniorSection_gallery > div > div > h1 {
  margin-top: 0;
  padding-top: 1em;
  text-align: center;
  font-family: Lemon Milk Regular;
  font-size: 2em;
  color: #f8f8f8;
}
#seniorSection_gallery_img {
  width: 80vw;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
#seniorSection_gallery_img > img {
  width: 31%;
  -o-object-fit: cover;
  object-fit: cover;
  flex: 1;
  padding: 0;
  margin: 0;
}
#seniorSection_gallery_link {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.button_gallery {
  text-align: center;
  width: 8rem;
  top: 15px;
  color: var(--themeColor2);
  background-color: var(--themeColor1);
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
  outline: 2px solid var(--themeColor1);
  display: block;
  text-decoration: none;
  font-family: Lemon Milk Regular;
  font-size: 1rem;
}
#seniorSection_gallery_link > a:hover {
  color: var(--themeColor1);
  background-color: var(--themeColor2);
}

/* Senior Section 2  of seniorservice.html */
#seniorSection_pricing {
  display: block;
  position: relative;
  height: auto;
  width: 100vw;
  background-color: var(--themeColor1);
}
#seniorSection_pricing > div {
  margin-left: var(--navCorrection);
}
#seniorSection_pricing_text {
  width: 100%;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  color: var(--themeColor2);
}
#seniorSection_pricing_text > div {
  display: inline-block;
}
#seniorSection_pricing_text > div > h1 {
  font-family: Lemon Milk Regular;
}
#seniorSection_pricing_text > div > h2 {
  font-weight: normal;
  font-family: Lemon Milk Pro Light;
  color: var(--themeColor2);
}
#seniorSection_pricing_text > div > ul {
  list-style-type: none;
  padding-left: 0;
}
#seniorSection_pricing_text > div > ul > li {
  margin-bottom: 10px;
  font-family: Lemon Milk Pro Light;
  color: var(--themeColor3);
}
.button_contact {
  text-align: center;
  width: 8rem;
  top: 15px;
  color: var(--themeColor1);
  background-color: var(--themeColor2);
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
  outline: 2px solid var(--themeColor1);
  display: block;
  text-decoration: none;
  font-family: Lemon Milk Regular;
  font-size: 1rem;
}
.button_contact:hover {
  background-color: var(--themeColor1);
  color: var(--themeColor2);
  outline: 2px solid var(--themeColor2);
}
@media screen and (max-width: 768px) {
}

/* Gallery */
#gallery {
  display: block;
  margin-right: 1rem;
  margin-left: calc(var(--navCorrection) + 10px);
  margin-top: 1rem;
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 1rem;
  -moz-column-count: 3;
  -moz-column-gap: 1rem;
  column-count: 3;
  column-gap: 1rem;
}
#gallery > div > h1 {
  color: var(--themeColor2);
  font-family: Lemon Milk Regular;
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
}
#gallery > div > img {
  width: 100% !important;
  height: auto !important;
  padding: 0 0 1rem 0;
}
@media (max-width: 768px) {
  #gallery {
    margin-top: 75px;
    margin-left: 1rem;
    -moz-column-count: 2;
    column-count: 2;
  }
}

/* Services */
#servicesSection {
  display: grid;
  grid-auto-flow: column;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  gap: 0;
  left: var(--navCorrection);
  padding: 0;
}
#servicesBackground1 {
  background-image: url(../assets/images/construcionBuilding.jpg);
  background-size: 250%;
  width: 33.34vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#servicesBackground2 {
  background-image: url(../assets/images/test.png);
  background-size: 300%;
  width: 33.34vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
#servicesBackground3 {
  background-image: url(../assets/images/test.png);
  background-size: 300%;
  width: 33.34vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.servicesMenu {
  display: inline-block;
  width: 20vw;
  margin: 40vh 0 0 0;
  padding: 10px 0 10px 0;
  background-color: var(--themeColor1);
  color: var(--themeColor2);
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
.servicesMenu > h1 {
  font-family: Antro Vectra;
}
.servicesDropDown {
  padding: 10px 25px 10px 25px;
  overflow: hidden;
  height: 0;
}

/* Services Animations */
.servicesAnimation {
  transition: all 1.5s ease-in-out;
}
#servicesBackground1:hover {
  background-size: 300%;
}
#servicesBackground2:hover {
  background-size: 350%;
}
#servicesBackground3:hover {
  background-size: 350%;
}

.servicesMenuAnimation {
  transition: all 0.75s ease-in-out;
  transition-delay: 0.75s;
}
.servicesAnimation:hover > .servicesMenu {
  margin-top: 10vh;
  transition-delay: 0.1s; /* Initial delay - so when moving the cursor past it, it won't initiate the animation - Quility of life*/
}

.servicesDropDown {
  transition: height 0.75s ease-in-out;
  transition-delay: 0.75s initial;
  transition-delay: 0s;
}
.servicesAnimation:hover > div > .servicesDropDown {
  color: var(--themeColor2);
  height: 300px;
  transition-delay: 0.75s;
}

/* About Me Page */
#about_section2 {
  background-color: #101010;
  color: #f8f8f8;
}

/* Contact Page */
#formHolder {
  background-image: url(../assets/images/DSC02535.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* display: flex;
  justify-content: center; */
  overflow: hidden;
}
#formHolder > div {
  margin-left: var(--navCorrection);
}
#formHolder > div > form {
  margin: auto;
  background-color: #10101070;
  padding: 3rem;
  text-align: left;
  max-width: 400px;
}
#formHolder > div > form > div {
  margin-top: 5px;
}
#formHolder > div > form > div > p {
  font-family: Lemon Milk Pro Light;
  font-size: 1rem;
  text-align: center;
  color: var(--themeColor2);
}
#formHolder > div > form > div > span {
  font-family: Lemon Milk Pro Light;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
  text-align: center;
  color: var(--themeColor2);
}
#formHolder_divider {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 100%;
  border-top: 0.1rem solid #f8f8f8;
}
#formHolder > div > form > div > label {
  color: var(--themeColor2);
  font-family: Lemon Milk Pro Light;
  font-size: 1rem;
}
#formHolder > div > form > div > label > span {
  padding-left: 0.25rem;
  color: #00eeff;
}
#formHolder > div > form > div > input,
textarea,
select {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  outline: none;
  font-family: Lemon Milk Pro Light;
}
#formHolder > div > form > div > input:focus,
textarea:focus,
select:focus {
  box-shadow: 2px 3px var(--themeColor1);
}
#formHolder > div > form > button {
  text-align: center;
  width: 120px;
  top: 15px;
  color: var(--themeColor2);
  background-color: var(--themeColor1);
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  outline: 2px solid var(--themeColor1);
  border: none;
  text-decoration: none;
  font-family: Lemon Milk Regular;
  font-weight: 100;
  font-size: 1em;
}
#formHolder > div > form > button:hover {
  color: var(--themeColor1);
  background-color: var(--themeColor2);
  outline: 2px solid var(--themeColor1);
  cursor: pointer;
}
#formHolder > div > form > div > input[type="date"] {
  /* padding: 0px; */
  height: 25.5px;
}
#formHolder
  > div
  > form
  > div
  > input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  color: transparent;
  cursor: pointer;
  position: absolute;
  height: 25.5px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #formHolder {
    margin-top: 65px;
  }
  #formHolder > div > form {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
/* form submitted page */
#formSubmitted {
  background-image: url(../assets/images/DSC02535.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#formSubmitted > div {
  margin-left: var(--navCorrection);
}
#formSubmitted > div > div {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#formSubmitted > div > div > div {
  display: inline-block;
  width: auto;
  padding: 2rem;
  background-color: #10101070;
}
#formSubmitted > div > div > div > h2 {
  font-size: 1rem;
  color: var(--themeColor2);
  font-family: Lemon Milk Pro Light;
}
#formSubmitted > div > div > div > p {
  font-size: 0.75rem;
  color: var(--themeColor3);
  font-family: Lemon Milk Pro Light;
}
#formSubmitted > div > div > div > p > span {
  font-style: italic;
}
@media screen and (max-width: 768px) {
  #formSubmitted {
    margin-top: 65px;
  }
  #formSubmitted > div > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* Image Fading Slide Show Animation  USE 5:7 IMAGE RATIO*/
/* <div id="" class="fadeSlideShow">
    <img src="../assets/images/DSC04706.jpg" alt="" class="pic" id="pic1">
    <img src="" alt="" class="pic" id="pic2">
    <img src="../assets/images/DSC04686.jpg" alt="" class="pic" id="pic3">
    <img src="../assets/images/DSC04902.jpg" alt="" class="pic" id="pic4">
    <img src="../assets/images/DSC04894.jpg" alt="" class="pic" id="pic5">
    <img src="../assets/images/DSC04692.jpg" alt="" class="pic" id="pic6">
    </div> */
.fadeSlideShow {
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  height: 100vh;
}
.pic {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: fade 30s infinite;
  animation: fade 30s infinite;
}
#pic1 {
  background-color: var(--themeColor2);
  z-index: 6;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#pic2 {
  background-color: var(--themeColor2);
  z-index: 5;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
#pic3 {
  background-color: var(--themeColor2);
  z-index: 4;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
#pic4 {
  background-color: var(--themeColor2);
  z-index: 3;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}
#pic5 {
  background-color: var(--themeColor2);
  z-index: 2;
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
#pic6 {
  background-color: var(--themeColor2);
  z-index: 1;
  -webkit-animation-delay: 25s;
  animation-delay: 25s;
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
