/* Colors
#00eeff
#00828b
#252525
#f8f8f8 */

@font-face {
  font-family: Antro Vectra;
  src: url(../assets/fonts/antro-vectra.bolder.otf);
}

body{
    margin: 0;
}

header {
    display: none;
}

/* NavBar */
nav{
  justify-content: center;
  position: fixed;
  width: 65px;
  top:0;
  height: 100vh;
  z-index: 100;
  background-color: #252525;
  overflow: hidden;
  white-space: nowrap;
  transition: width .3s ease;
  box-shadow: 4px 7px 10px rgba(0,0,0,.4);
}
@media screen and (min-width: 600px) {
  nav{
    width: 65px;
  }
}
nav:hover {
  width: 200px;
}
ul{
  list-style-type: none;
  color:#f8f8f8;
  margin-left: -40px;
  margin-top: 50px;
}
li{
  padding-bottom: .5rem;
  font-family: 'roboto';
  }
  
a{
  position: relative;
  display: block;
  /* top: 15px; */
  padding: 10px 0 10px 20px;
  /* transition: all .3s ease; */
  text-decoration: none;
  color:#f8f8f8;
  font-family: 'roboto';
  font-weight: 100;
  font-size: 1.35em;
}
a:hover:not(#logoLink){
  background-color: #00828b;
}

/*Nav text change on hover*/
#logoLink{
  transition: all .3s ease;
  font-family: Antro Vectra;
  font-size: 16px;
  text-align: center;
  top: 20px;
  letter-spacing: -2px;
  margin-left: -10px;
}
#hide{
  display: inline-block;
  max-width: 0;
  opacity: 0;
  transition: all .3s ease;
  transition-delay: .2s;
}
nav:hover > a > #hide{
  max-width: 200px;
  opacity: 1;
  letter-spacing: 0px;
  margin-left: 0px;
}

/*Icons and other unique Navbar items*/
.fa{
    font-size: inherit;
    margin-right: 20px;
}

.currentpage{
  border-left: 5px solid #00eeff;
}
#logoLink{
  padding-left: 10px;
}

  /* Title Section of index.html */
#titleSection{
    position: relative;
    width: 100%;
    height: 100vh;
}
#titleSection > div{
    position: absolute;
    text-align: center;
    height: auto;
    width: 100%;
    margin-top: 35vh;
}
#titleSection > div > h1{
    font-size: 3em;
}

/* Gallery */
.galleryTable{
  border-collapse: collapse;
  background-color: red;
}
td > img{
  height: 33.33vh;
  width: 33.33vw;
  object-fit: cover;
  float: left;
}

/* Services */
#servicesSection{
  display: grid;
  grid-auto-flow: column;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  gap: 0;
  left: 65px;
  padding: 0;
}
#servicesBackground1{
  background-image: url(../assets/images/construcionBuilding.jpg);
  background-size: 250%;
  width: 33.34vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
#servicesBackground2{
  background-image: url(../assets/images/test.png);
  background-size: 300%;
  width: 33.34vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
#servicesBackground3{
  background-image: url(../assets/images/test.png);
  background-size: 300%;
  width: 33.34vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.servicesMenu{
  display: inline-block;
  width: 20vw;
  margin: 40vh 0 0 0;
  padding: 10px 0 10px 0;
  background-color: #252525;
  color: #f8f8f8;
  box-shadow: 4px 7px 10px rgba(0,0,0,.4);
}
.servicesMenu > h1{
  font-family: Antro Vectra;
}
/* Services Animations*/
.servicesAnimation{
  transition: all 1s ease-in-out;
}
#servicesBackground1:hover{
  background-size: 300%;
}
#servicesBackground2:hover{
  background-size: 350%;
}
#servicesBackground3:hover{
  background-size: 350%;
}

.servicesMenuAnimation{
  transition: all 1s ease-in-out;
}
.servicesAnimation:hover > .servicesMenu{
  margin-top: 10vh;
}